body {
  position: relative;
}
ion-slides {
  height: 100%;
}


  .home .nav {
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #F8F8F8;
    background-color: #fff;
  }

.home .nav_le {
    width: 46px;
    height: 30px;
    text-align: center;
    margin-right: 5px;
  }

.home .nav_le .text1 {
    display: block;
    width: 46px;
    height: 8px;
    font-family: PingFang-SC-Bold;
    font-size: 8px;
  }


.home .AtTabs .at-tabs__item-underline {
    width: 28px;
    left: 50%;
    margin-left: -14px;
    height: 2px;
  }

.home .yq {
    width: 20px;
    height: 17px;
  }


.home .nav_ri {
    width: 323px;
    height: 30px;
    background: #f8f8f8;
    border-radius: 15px;
    position: relative;
  }

.home .nav_ri_ss {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 9px;
    top: 8px;
  }

.home .input {
    position: absolute;
    width: 150px;
    height: 24px;
    font-size: 12px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #B1B1B6;
    left: 27px;
    top: 5px
  }

.home .con1 {
    width: 375px;
    height: 31px;
    background: #FFFFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

.home .txt1,
.home .txt2 {
    width: 53px;
    height: 13px;
    font-size: 12px;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
  }

.home .txt1 {
    margin-right: 68px;
  }

.home .txt1.on,
.home .txt2.on {
    color: rgba(215, 185, 117, 1);
    font-weight: 800;
  }

.home .con1_d {
    width: 25px;
    height: 2px;
    background: rgba(215, 185, 117, 1);
    border-radius: 1px;
    position: absolute;
    left: 115px;
    top: 30px;
    transition: all .5s;
  }

.home .con1_d.on {
    left: 232px;
  }

.home .cen {
    padding: 0 15px;



  }
.home .cen .top1 {
    border-radius: 8px;
    margin-top: 16px;



  }
.home .cen .top1 img {
    width: 100%;
    height: 100%;
  }
.home .swiper-box .wx-swiper-dot {

    width: 10px;

    display: inline-flex;

    height: 10px;

    margin-left: 3px;

    justify-content: space-between;
  }

.home .swiper-box .wx-swiper-dot-active {
    width: 20px;
    border-radius: 16px;
  }
.home .top2 {
    margin: 9px auto 17px auto;
    background-color: #fff;
    position: relative;
    border-radius: 8px;
    font-size: 0.32rem;
  }
.home .top2 .AtNoticebar {
    width: 90%;
  }
.home .top2 .AtNoticebar .view {
    background: #fff;
    border-radius: 8px;
  }
.home .top2 .AtNoticebar .view .at-noticebar__content-text {
    font-size: 22px;
    color: #333;
  }

.home .top2 .AtNoticebar .view .at-icon {
    line-height: 33px;
    color: red;
  }

.home .top2 .AtNoticebar .view .gg2 {
    color: #D7B975;
  }

.home .top2 .look {
    width: 32px;
    height: 14px;
    border: 1px solid #D7B975;
    border-radius: 4px;
    color: #D7B975;
    font-weight: 700;
    text-align: center;
    font-size: 9px;
    position: absolute;
    right: 5px;
    top: 4px;
  }

.home .image1 {
    width: 17px;
    height: 17px;
    margin-left: 19px;
    margin-top: 14px;
    margin-right: 10px;
  }

.home .gg1 {
    width: 300px;
    height: 19px;
    font-size: 20px;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
  }


.home .gg3 {
    height: 19px;
    font-size: 20px;
  }


.home .top3 {
    height: 82px;
    background: rgba(255, 255, 255, 1);
    border-radius: 3px;
    margin: 0 auto;
  }
.home .top3 .image3 {
    width: 32px;
    height: 32px;
    margin-left: 9px;
    margin-top: 4px;
    float: left;
  }

.home .top3 .top3_cen {
    margin-left: 9px;
    margin-top: 7px;
    float: left;
  }

.home .top3 .text3 {
    display: block;
    width: 65px;
    height: 12px;
    font-size: 12px;
    font-family: PingFang SC;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
  }

.home .top3 .text4 {
    display: block;
    width: 220px;
    height: 10px;
    font-size: 10px;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    margin-top: 4px;
  }

.home .top3 .image4 {
    width: 32px;
    height: 15px;
    border: 1px solid #66DC79;
    font-size: 9px;
    font-weight: 700;
    color: #66DC79;
    text-align: center;
    margin-top: 12px;
    margin-right: 5px;
    line-height: 1.2;
    padding: 1px 0;
    border-radius: 4px;
    float: right;

  }
.home .top4 {
    height: 180px;
    background: rgb(248, 248, 248);
    overflow: hidden;
    margin-top: 18px;
  }

.home .top4_le,
.home .top4_ce,
.home .top4_ri {
    width: 48%;
    height: 60px;
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    float: left;
    position: relative;
  }

.home .top4_le span {
    width: 80px;
    height: 12px;
    font-size: 12px;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    position: absolute;
    left:7px;
    top: 9px;
  }

.home .top4_ri,
.home .top4_ce {
    margin-left: 9px;
  }

.home .top4_le img {
    width: 25px;
    height: 18px;
    position: absolute;
    top: 6px;
    left: 82px;
  }

.home .top4_ce span {
    width: 85px;
    height: 24px;
    font-size:12px;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    position: absolute;
    left: 7px;
    top: 9px;
  }

.home .top4_ce img {
    width: 20px;
    height: 15px;
    position: absolute;
    top: 12px;
    left: 87px;
  }

.home .top4_ri span {
    width: 85px;
    height: 24px;
    font-size: 12px;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    position: absolute;
    left: 7px;
    top: 9px;
  }

.home .top4_ri img {
    width: 13px;
    height: 15px;
    position: absolute;
    top: 10px;
    left: 92px;
  }

.home .top5 .content {
    width: 167px;
    height: 222px;
    margin-bottom: 10px;
  }


.home .content_t {
    width: 167px;
    height: 167px;
    position: relative;
    overflow: hidden;
  }

.home .image1 {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 8px;
  }

.home .content_tt {
    width: 167px;
    height: 30px;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    left: 0;
  }
.home .content_tt img {
    width: 28px;
    height: 12px;
    position: absolute;
    left: 9px;
    top: 11px;
  }

.home .content_tt span {
    width: 114px;
    height: 8px;
    font-size: 9px;
    font-family: PingFang SC;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 42px;
    top: 11px;
  }

.home .content_b {
    width: 166px;
    height: 54px;
    background: #FFFFFF;
    position: relative;
    border: 1px solid #fff;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
.home .content_b .img {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 13px;
    bottom: 13px;
  }

.home .content_b .image2 {
    width: 27px;
    height: 27px;
  }

.home .content_b span {
    /*width:106 px;*/
    height: 11px;
    font-size: 12px;
    font-family: PingFang SC;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    position: absolute;
    left: 50px;
    bottom: 30px;
  }

.home .yqy {
    width: 375px;
    background: rgba(248, 248, 248, 1);
    padding-top: 10px;
  }

.home .n1 {
    width: 375px;
    height: 100px;
    position: relative;
    background: #FFFFFF;
    margin-top: 4px;
  }
.home .n1 .wz1 {
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    position: absolute;
    top: 11px;
    left: 14px;
    line-height: 13px;
  }

.home .n1 .con {
    width: 348px;
    height: 69px;
    border-top: 1px solid rgba(248, 248, 248, 1);
    position: absolute;
    top: 31px;
    left: 13px;
  }
.home .n1 .con .fillInWechat {
  position: absolute;
  left: 54px;
  top: 38px;
}
.home .n1 .con .fillInWechat input {
  margin-left: 0;
  padding: 0;
  font-size: 11px;
}
.home .tx1 {
    width: 45px;
    height: 45px;
    position: absolute;
    left: 0;
    top: 15px;
  }

.home .pp {
    background: #F09D3E;
    width: 31px;
    height: 12px;
    border: 1px solid rgba(248, 214, 139, 1);
    border-radius: 2px;
    position: absolute;
    left: 6px;
    top: 51px;
  }
.home .pp span {
    width: 24px;
    height: 8px;
    font-size: 8px;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 8px;
    position: absolute;
    left: 4px;
    top: 2px;
  }
.home .tst1 {
    font-size: 12px;
    font-weight: 800;
    color: rgba(51, 51, 51, 1);
    position: absolute;
    left: 55px;
    top: 20px;
  }

.home .tb {
    position: absolute;
    left: 106px;
    height: 20px;
    overflow: hidden;
    top: 19px;
  }

.home .hui {
    width: 17px;
    height: 14px;
    margin-left: 5px;
  }

.home .qi {
    width: 12px;
    height: 15px;
    margin-left: 5px;
  }

.home .tst2 {
    width: 180px;
    height: 22px;
    font-size: 10px;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(177, 177, 182, 1);
    position: absolute;
    left: 54px;
    top: 45px;
  }

.home .fz {
    position: absolute;
    right: 25px;
    top: 32px;
    border: 1px solid #D7B875;
    padding: 2px 15px;
    font-size: 13px;
    border-radius: 12px;
    color: #D7B875;
  }

.home .tx {
    width: 11px;
    height: 11px;
    position: absolute;
    left: 180px;
    top: 45px;
  }

.home .wz2 {
    width: 145px;
    height: 10px;
    font-size: 10px;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(177, 177, 182, 1);
    position: absolute;
    left: 77px;
    top: 12px;
  }

.home .zw {
    position: absolute;
    left: 112px;
    top: 32px;
    width: 120px;
    height: 11px;
    font-size: 11px;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(177, 177, 182, 1);
  }

.home .tc {
    position: fixed;
    left: 0;
    top: 86px;
    width: 376px;
    height: 657px;
    background: rgba(0, 0, 0, .5);
    z-index: 999999999;
  }


.home .tc_cen {
    text-align: center;
    color: #333;
  }
.home .tc_cen .at-article__h4 {
    font-weight: 600;
    font-size: 15px;
  }

.home .tc_cen .img {
    width: 100%;
  }

.home .tc_cen .tc_text {
    width: 175px;
    height: 27px;
    font-size: 12px;
    margin: 0 auto;
  }

.home .tc_cen .at-modal__content {
    height: 270px;
  }

.home .tc_cen .AtButton {
    width: 57px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
.home .tc_cen .AtButton button {
    border-radius: 9px;
  }



